.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 12%;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: var(--navbar-height);
    height: 100vh;
    border-right: 1px solid var(--secondary-light);
}

.container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 2rem;
    border-bottom: 1px solid var(--secondary-light);
}

.container li:hover {
    background-color: var(--primary-light);
    color: var(--secondary-lighter);
}

.container li.active {
    font-weight: bold;
    background-color: var(--secondary);
    background: var(--primary);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: row;
        height: auto;
        width: 100vw;
        border-right: none;
        border-bottom: 1px solid var(--secondary-light);
    }

    .container li {
        border-bottom: none;
        border-right: 1px solid var(--secondary-light);
    }
}