:root {
    --primary: #0e0e0e;
    --primary-light: #222;

    --secondary: #a79d17;
    --secondary-light: #b3ad23;

    --success: #00dd00;
    --error: #dd0000;
    --info: #dd00dd;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    background-color: purple;
    width: 1536px;
    margin: 0 auto;
    padding: 0 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}