.link {
    color: var(--secondary);
    text-decoration: none;
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.active {
    background-color: var(--secondary);
    color: var(--primary);
}