.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.username {
    font-size: 20px;
}

@media screen and (max-width: 1280px) {
    .container {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}